.items-bar{
    display: flex;
    max-width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
    justify-content: center;
    /* background: url(../img/shelf.png) no-repeat bottom; */
    background-size: 70%;
}
.itm{
    border: 1px solid gray;
    position: relative;
}
.itm-content{
    max-width: 250px;
    width:250px;
    flex: 20%;
    margin: 5px;
    height: 200px;
    transform: translateY(0);
    transition: transform .5s;
    /* background: url(../img/4/2000306264.png) no-repeat bottom; */
    background-size: 50%;
}
.itm-content img{
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 90%;
}
.itm:hover{
    cursor: pointer;
}
.flip{
    transform: translateY(-40px);
    transition: all .5s;
}
.prod{
    width: 50px;
    height: 50px;
    background: url(../img/4/bk.png) no-repeat center;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    left: 0;
    background-size: 50%;
    right: 0;
    margin: auto;
}
.moves{
    font-size: 20px;
    color: black;
    z-index: 100;
    position: absolute;
    width: 50px;
    height: 50px;
    background: gray;
}